.grid {
    display: flex;
    width: 100%;
    margin: 0; /* Đảm bảo không có margin dư thừa */
    padding: 0; /* Đảm bảo không có padding thừa */
  }
  
  /* Các cột bên trái và bên phải chiếm toàn bộ chiều rộng */
  .Notetication {
    display: flex;
    width: 100%;
    margin: 0; /* Đảm bảo không có margin dư thừa */
  }
  
  .grid__column-2-3 {
    width: 66.6667%;  /* 2/3 chiều rộng */
    padding: 0 5px; /* Xóa padding thừa */
  }
  
  .grid__column-1-3 {
    width: 33.3333%;  /* 1/3 chiều rộng */
    padding: 0 5px; /* Xóa padding thừa */
  }
 .Menu_Notetication {
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
.View_Notetication {
        padding: 15px;
        background-color: #f4f4f4;
        border-radius: 8px;
    }
  
  h2, h3, .Notetie_title, .Notetie_title_menu {
    color: #575656;
    font-size: 24px;
    font-weight: 600;
  }
  
  /* Thêm style cho bảng menu */
  .menu_table {
    margin-top: 15px;  /* Thêm khoảng cách phía trên bảng */
  }
  .menu_table a {
    color: #007bff;
    text-decoration: none;
    display: block;  /* Đảm bảo thẻ a xuống dòng */
    padding-bottom: 5px;  /* Thêm khoảng cách dưới mỗi liên kết */
    margin-bottom: 5px;  /* Thêm khoảng cách dưới mỗi liên kết */
    border-bottom: 1px solid #007bff;  /* Đường kẻ dưới màu xanh */
    font-weight: 400;
    font-size: 1.6rem;
  }
  .menu_table a:hover {
    color: #0056b3;
    border-bottom: 1px solid #0056b3;
  }
  .Menu_Manage_Notetication {
    margin-top: 30px; 
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  /* Danh sách thông báo */
.notification-list {
    list-style-type: none;
    padding: 0;
  }
  
  .notification-item {
    background-color: #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .notification-item h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .notification-item p {
    font-size: 14px;
    color: #555;
  }
  
  /* Hiệu ứng hover cho các thông báo */
  .notification-item:hover {
    background-color: #d3d3d3;
  }
  
  /* Chi tiết thông báo */
  .NotificationDetail {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .NotificationDetail h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .NotificationDetail p {
    font-size: 16px;
    color: #666;
  }
  