.header_top {
    display: flex;
    justify-content: space-between; /* Đẩy phần title và user sang 2 bên */
    align-items: center; /* Căn giữa theo chiều dọc */
    padding: 5px 5px;
}
.header_title {
    display: flex;
}
.header_name {
    font-size: 28px;
    color: #8E0D34;
}
.first-name {
    padding: 5px 0 0 5px;
    
}
.header_logo {
    width: 180px;
}
.header_user {
    display: flex;
    background-color: #8E0D34;
    margin-top: 40px;
    margin-right: 2px;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    justify-content: flex-end;

}
.avatar {
    width: 30px;
    color: #fff;
    margin-right: 150px;
    margin-left: 10px;
    margin-top: 15px;
    filter: invert(1);

}
.header_login { 
        background-color: #8E0D34;
        color: #fff; 
        border: none; 
        padding: 10px 20px; 
        margin: 0 5px;
        border-radius: 5px; 
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;
      }
.header_login:hover {
        background-color: #0056b3;
      }
.header_menu {
    margin: 5px 5px;
    background-color: #8E0D34;
    border-radius: 5px;
    display: flex;
  }
.header_menu .active {
  background-color: rgb(207, 0, 0);
}
  .header_menu ul {
    display: flex;
    justify-content: space-around; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    justify-content: flex-start;
  }
  
  .header_menu li {
    display: inline-block;
    font-size: 1.8rem;

  }
  .header-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px 40px;
    font-size: 1.6rem;
  }
  .header-link.active {
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  .header-link:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  